@keyframes arrowDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(4px);
  }
  10% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box !important;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Dosis", sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
}
html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: azure;
}
section {
  height: fit-content;
  width: 100%;
}
article {
  height: 100vh;
}
footer {
  width: 100%;
  height: fit-content;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 100;
}
.carousel-img {
  height: 100vh;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
.marketing {
  margin-top: 30px;
}

.arrow-down-container {
  width: 100vw;
  height: 10vh;
  justify-content: center;
  margin-top: 0;
  padding-right: 40px;
}
.arrow-down-container img {
  transform: translateY(10px);
  animation: arrowDown 1s infinite ease;
}

.main-title {
  height: 100vh;
  margin: 0;
  padding-right: 30%;
  padding-left: 8%;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: initial;
  color: #d9d9d9;
  text-shadow: 2px 2px 0px #1b1b1e, 5px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("assets/image37.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-button {
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.menu-button:hover {
  -webkit-box-shadow: inset -1px 3px 8px 5px azure, 2px 5px 16px 0px azure,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px azure, 2px 5px 16px 0px azure,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.biosseguranca {
  height: 100vh;
  margin: 0;
  padding: 5% 5%;
  text-align: justify;
  word-break: initial;
  color: #d9d9d9;
  text-shadow: 2px 2px 0px #1b1b1e, 5px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("assets/main.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;
}
/* utility*/
.font-dark {
  color: #1b1b1e !important;
}
.font-light {
  color: #ceb5a7;
}
.font-green-light {
  color: #73eedc;
}
.font-green-dark {
  color: #73c2be;
}
.font-hot {
  color: #b80c09;
}
.font-white {
  color: #f0ffff;
}
.font-giant {
  font-size: calc((9 / 16) * 20vh);
}
.font-xxlarge {
  font-size: calc((9 / 16) * 10vh);
}
.font-xlarge {
  font-size: calc((9 / 16) * 6vh);
}
.fonr-tiny {
  font-size: calc((9 / 16) * 1vh);
}
.font-bold {
  font-weight: bolder;
}

.text-inset {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}
.text-box {
  height: 80vw;
  box-sizing: border-box;
  padding: 3vh;
}
.text-align-right {
  text-align: right;
}

.indie-flower {
  font-family: "Indie Flower", cursive !important;
}
.bg-darker-btn {
  background-color: #1b1b1e;
  border: none;
}
.bg-darker-btn:hover {
  background-color: #b80c09;
  border: none;
}
.bg-light-skin {
  background-color: #b19789;
  border: none;
}
.bg-green-light {
  background-color: #73eedc;
}
.bg-green-dark {
  background-color: #73c2be;
}
.bg-hot {
  background-color: #b80c09;
}
.bg-frosted-glass {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.cat-bg {
  background-image: url(assets/fundogato.png);
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.bg-boxshadow {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/*positioning*/
.padding-10vh {
  padding: 10vh;
}
.flex-right {
  display: flex;
  flex-direction: row-reverse;
}
.flex-container {
  display: flex;
}
.flex-center {
  width: 100%;
  justify-items: center;
}
.flex-end {
  justify-items: end;
}
.flex-column {
  flex-direction: column;
}

.social-bar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: 6F9CEB;
  box-sizing: border-box;
  margin-left: 50%;
  transform: translateX(-50%);
}
.social-icons {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.social-icon {
  width: 48px;
  height: 48px;
  border: #fffaff solid 3px;
  border-radius: 50%;
  background-color: #fffaff;
}
.profile-pic {
  width: 150px;
  height: 150px;
  background-image: url(assets/image26.jpeg);
  background-size: cover;
  border-radius: 50%;
  border: solid 10px #303036;
}
.photo-display {
  width: 80%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 0 16px 16px 0;
  display: flex;
  background-image: url(assets/img.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
.info-boxes {
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

.icon {
  width: 46px;
  height: 46px;
  margin-left: 15px;
}
.img-text {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 20%;
  margin-top: 15%;
}
/**/
.flex-display {
  display: flex;
}
.font-giant {
  font-size: 64px;
}
.font-big {
  font-size: 32px;
}
.profile-pic {
  margin-top: 30px;
}
.overflow {
  overflow-y: scroll;
}
